.banner{
    margin-top: -10px;
    background-image: url("LeonDenisBanner.png");
    background-position: center; 
    background-position-y: - 18%;
    height: 380px; 
    background-repeat: no-repeat; 
    background-size: cover; 
    overflow: hidden;
}

.cadastro{
    text-align: left;
    text-indent: 15px;
    line-height: 25px;
    font-size: large;
    margin-bottom: 40px;
}

fieldset{
    margin: 25px 0px;
    padding: 21px 15px;
    border: solid 2px rgba(144, 144, 144, 0.721);
    border-radius: 5px;
    min-width: 500px;
}
legend{
    margin-bottom: 10px;
    padding-right: 15px;
    font-size: 27px;
    font-weight: 600;
}

input, select, textarea{
    height: 24px;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

input[type="number"]{
    width: 150px;
}

input[type="radio"]{
    margin-left: 15px;
}

textarea{
    width: 300px;
    height: 50px;
}

#salvar{
    background-color: rgb(255, 208, 0);
    border-radius: 8px;
    font-size: large;
    font-weight: 500;
    height: 40px;
    width: 100px;
    margin: 5px 0px 0px 15px;
}

#salvar:hover{
    background-color: rgba(255, 208, 0, 0.21);
}

.contatos{
    line-height: 10px;
    text-indent: 5px;
    background-color: rgba(255, 238, 163, 0.823);
    padding: 5px 0px;
}